<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<h1>Editing Ticket</h1>

<%= render 'form' %>

<%= link_to 'Show', event_ticket_path(@event, @ticket) %> |
<%= link_to 'Back', event_tickets_path %>
</div>
