
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<h1>Editing Discount</h1>

<%= render 'form' %>

<%= link_to 'Show', event_discount_path(@event, @discount) %> |
<%= link_to 'Back', event_discounts_path(@event) %>
</div>
