/*
*= require dropzone
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";

//colors
$color_red_approx: red;

//for * label in forms
label.required:after {
  content: " *";
  color: $color_red_approx;
}
