<%= simple_form_for([@event, @upload], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uploaded_file, as: :file, multiple: true, name: 'upload[uploaded_file]' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Upload Logo' %>
  </div>
<% end %>
