<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

  <h1>Editing upload</h1>

  <%= render 'form' %>

  <%= link_to 'Show', event_upload_path(@event, @upload) %> |
  <%= link_to 'Back', event_uploads_path %>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
