<section class="parallax-window" data-parallax="scroll" data-image-src="assets/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        <h1>Frequently questions</h1>
        <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        </div>
    </div>
</section><!-- End section -->


<div id="position">
      <div class="container">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/faq">FAQ</a></li>
                  </ul>
        </div>
    </div><!-- Position -->

<div  class="container margin_60">

      <div class="row">
          <aside class="col-lg-3 col-md-3">
                <!-- <div class="box_style_cat">
                    <ul id="cat_nav">
                        <li><a href="#" id="active"><i class="icon_set_1_icon-95"></i>Payments</a></li>
                        <li><a href="#"><i class="icon_set_1_icon-95"></i>Suggestions and tips</a></li>
                        <li><a href="#"><i class="icon_set_1_icon-95"></i>Travel reccomendations</a></li>
                        <li><a href="#"><i class="icon_set_1_icon-95"></i>Terms and conditons</a></li>
                        <li><a href="#"><i class="icon_set_1_icon-95"></i>Booking and vouchers</a></li>
                        <li><a href="#"><i class="icon_set_1_icon-95"></i>Transfers</a></li>
                    </ul>
                </div> -->

                <div class="box_style_2">
                    <i class="icon_set_1_icon-57"></i>
                    <h4>Need <span>Help?</span></h4>
                    <a href="tel://006031234567" class="phone">+60 3 123 4567</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
    </aside><!--End aside -->
          <div class="col-lg-9 col-md-9" id="faq">
            <h2>Diversecity Ticketing - FAQ</h2>
            <br>
            <h4>1. Is Diversecity’s ticketing platform running on a secure network?</h4>
            <p>
              Diversecity’s Ticketing platform runs over a Hypertext Transfer Protocol over Secure, HTTPS is a secure method of accessing or sending information

              across a web page. All data sent over HTTPS is encrypted before it is sent, this prevents anyone from understanding that information if intercepted.

              Because data is encrypted over HTTPS, it is slower than HTTP, which is why HTTPS is only used when requiring login information or with pages that

              contain sensitive information such as an online bank web page.
            </p>
            <p>

              Our secure online payment gateway is provided by MOLPay Sdn Bhd who provides for a secure multi platform, multi currency financial transaction

              services.
            </p>
            <br>

            <h4>2. Buying Tickets</h4>

            <p>
            A BUY ticket button is available on each show listing. You can Register once with us with your contact details to make your return for the next

            purchase a lot easier. Choose to register with your email or social media accounts.</p>

            <p>

            Clicking on the BUY Ticket button will provide you with the following options:
            </p>

            <p>
            Depending on the type of venue, you may be presented with a seat allocation option.
            </p>

            <p>
            Complete the ticketing options for the current listing.
            </p>

            <p>
            Once done this will be added to your shopping cart.
            </p>

            <p>
            You can now choose to do a Check Out or proceed to the next listing for the next ticket to add to the cart.
            </p>

            <p>
            There is currently no limit to the number of tickets (do we want to limit...?) to be purchased.
            </p>

            <p>
            In addition you may also enter a PROMO CODE that will entitle you to purchase tickets at a discounted rate.
            </p>

            <p>
            Please do note: Your ticket purchase session will be kept for ten minutes. Failing which that ticket will be released and you will have to redo the

            ticketing process again.
            </p>

            <p>
            Once done Click on the CheckOut button to proceed to payment details, select mode of payment and then payment confirmation.
            </p>

            <p>
            An e-ticket will be sent to the confirmed email address that you have given during the registration process.
            </p>

            <p>
            Each ticket will be provided with an unique ID for ticketing purposes and a Transaction ID as part of your payment receipt.
            </p>

            <p>
            Multiple tickets purchased during a single Shopping Cart session will be sent in one e-ticket separated by shows.
            </p>

            <p>
            Please use this ID for reference purposes.
            </p>
            <br>

            <h4>3. How do I purchase on my mobile device?</h4>

            <p>
            Your mobile ticketing experience is linked to your registered account.
            </p>

            <p>
            Download the Diversecity App from the App Store or from Google Play Store.
            </p>

            <p>
            Log in or Register as a New User.
            </p>

            <p>
            If you are a registered user and have purchased tickets, your tickets will be available in the MY TICKETS Tab.
            </p>

            <p>
            If not visit the SHOWS tab and purchase your tickets by using the BUY button on each listing.
            </p>

            <p>
            Repeat for next ticket then proceed to do a Check Out.
            </p>

            <p>
            The mobile payment gateway is also managed by MOL Sdn Bhd.
            </p>

            <br>

            <h4>3. Can I transfer my ticket to someone else?</h4>
            <p>
            Yes. Please login to your Ticketing Dashboard and reassign your ticket to another person. For this transaction to go through a valid email address of

            the other person the ticket is being transferred to is required. They will be issued a transferred ticket.
            </p>

            <br>
            <h4>4. Where can I find my ticket?</h4>

            <p>
            Please check the email address that you used to purchase the ticket. Tickets are issued with a DIVERSECITYKL-TICKET... subject header.
            </p>

            <p>
            You can also login into your Ticket Dashboard via Diversecity.my on your desktop browser or locate your purchased tickets from the MY TICKETS tab

            on your mobile App.
            </p>
            <br>

            <h4>5. Do I need to print out my e-ticket?</h4>

            <p>
            Some venues may require you to bring along your ticket and this will be indicated in the emailed ticket. Each E-Ticket has a unique bar /

            QR code which will be checked by a reader before before you are allowed to enter the show.

            </p>
            <p>
            If you are using a smart phone you can display the QR Code for to be verified at the show venue.

            </p>

            <p>
            Each ticket only allows one entry and cannot be read again for entry as such admission will only be for the first instance of the code being

            scanned and a second entry will be refused.
            </p>

            <br>

            <h4>6. I did not receive my email confirmation, what do I do?</h4>

            <p>
            Please log on to your Ticket Dashboard on your Desktop or the MY TICKETS tab your mobile device.
            </p>

            <p>
            If your purchase had been successful, your ticket will be displayed.
            </p>

            <p>
            Click on resend ticket.
            </p>

            <p>
            In addition, check your spam or junk folder if you are yet to receive your ticket.
            </p>

            <br>
            <h4>7. Where do I get support for any issues with my ticket?</h4>

            <p>
            For ticketing queries, please contact +60.......
            </p>

            <p>
            For issues with regarding to your payment transaction please contact MOL helpline at +60......

            or contact our help desk at tickethelp@....
            </p>

            <br>
            <h4>8. Are my tickets refundable?</h4>
            <br>

            <p>
            No. All tickets sold are non refundable.
            </p>

            <br>
            <h3>Show Organiser App.</h3>
            <br>

            <h4>1. How do I get and print my bulk tickets?</h4>

            <p>
            Log into your secure area on the ticketing.diversity.my.
            </p>

            <p>
            Your genre shows will be displayed.
            </p>

            <p>
            Select bulk tickets.
            </p>

            <p>
            Make payment for tickets, unless provided bulk code by Organiser then enter the BULK CODE.
            </p>

            <p>
            Customize select tickets (Name and Salutation) if you need to.
            </p>

            <p>
            Insert ticket stub into printer.
            </p>

            <p>
            Print.
            </p>

            <p>
            The App only allows a single Print transaction each session.
            </p>

            <br>
            <h4>2. I need to reprint as my tickets were not printed completely</h4>

            <p>
            Check you print buffer on your desktop. Look for the little printer icon and print again.
            </p>

            <p>
            Failing which please email .... to resend another BULK CODE.
            </p>

            </div><!-- End col lg-9 -->
        </div><!-- End row -->
    </div><!-- End container -->

<section class="parallax-window" data-parallax="scroll" data-image-src="assets/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1 magnific">
        <div>
            <h3>DiverseCity KL 2015</h3>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p><a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
        </div>
    </div>
</section><!-- End section -->
