<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <h3>Need help?</h3>
                <a href="tel://006031234567" id="phone">+60 3 123 4567</a>
                <a href="mailto:help@tixipro.com" id="email_footer">help@tixipro.com</a>
                <strong>Secure payments with</strong>
                <p><%= image_tag("payments.png", height: '30', width: '231', data: {retina: true}, class: "img-responsive") %></p>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>About</h3>
                <ul>
                    <li><a href="http://diversecity.my/about.html">About festival</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                     <li><a href="#">Contacts</a></li>
                    <li><a href="/users/sign_in">Login</a></li>
                    <li><a href="/users/sign_up">Register</a></li>
                     <li><a href="#">Terms and condition</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3"  id="newsletter">
                <h3>Newsletter</h3>
                <p>Join our newsletter to keep be informed about events.</p>
      <div id="message-newsletter_2"></div>
        <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                    <div class="form-group">
                        <input name="email_newsletter_2" id="email_newsletter_2"  type="email" value=""  placeholder="Your mail" class="form-control">
                      </div>
                        <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
                  </form>
            </div>

        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>© 2015, All right reserved for Tixipro.</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->
